@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	
}

.container {
	width: 80%;
	margin: 1 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  display: inline-block;
  padding: 10px 0;
}

nav {
  float: right;
  
}

nav ul {
  padding: 0;
  list-style: none;
  float: left;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

form {
	display: inline-block;
	padding: 0;
	margin-top: 40px;
	margin-left: 20px;
}

/* Diverse likebutton stuff */

.posts-wrapper {
  width: 50%
  margin: 20px auto;
  border: 1px solid #eee;
}

.post-info{
  margin: 10px auto 0px;
  padding: 5px;
}
.fa {
  font-size: 1.2em;
  position: absolute;
}
.fa-thumbs-down, .fa-thumbs-o-down {
  transform:rotateY(180deg);
  background-color:pink;
}
i {
  color:blue;
}
